.tabs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainContainer{
}



.profilePic{
    max-width: 400px;
    max-height: 400px;
}
.profileSection{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.NavItem {
  width: 100%;
  margin-bottom: 10px; /* Adjust margin as needed */
}

/* Add the following rule to ensure that the NavLink stays within its container */
.NavLink {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}