.tabs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainContainer{
}



.profilePic{
    max-width: 200px;
    max-height: 200px;
}
.profileRow{
    width: 100%;
}
.topUpButton{
    width: 100px;
}
.profileSection{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.NavItem {
  width: 100%;
  margin-bottom: 10px; /* Adjust margin as needed */
}

.NavLink {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
Button{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.orders{
    
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button{
    width: auto;
}