/* :root {
  --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #bb67ff 0%, #fff 100%);
  --pink: #fb4d1f;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
} */

.App {
  text-align: center;
}

.navbar-expand-lg .navbar-toggler {
  display: block !important;
  margin-right: 1%;
  border: none;
}

#dropdown-basic {
  margin-top: 3%;
  margin-left: 450%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  margin-left: 450%;
}

#navbarbutton {
  padding: 0px 25px;
  margin-left: 220%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.learndivs {
  margin-top: 2%;
  justify-content: space-evenly;
  display: flex;
}

.learndivsbtn {
  display: flex;
  justify-content: space-around;
}

.writings {
  display: flex;
  justify-content: space-between;
}

.learndivsbtn button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.mustwatchdivs {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mustwatchdivs > * {
  width: calc(33.33% - 10px);
  margin: 10px;
}

.Books {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Books > * {
  width: calc(20% - 20px);
  margin: 10px;
}

.First {
  width: 75%;
}

.Second {
  width: 25%;
}

.must {
  display: flex;
}
.multiline-ellipsis {
  line-height: 23px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}
.communitybtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.communitydiv {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.Disc {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.lecturer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}
.Books-div {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.books-div-link {
  display: inline-block;
  padding: 8px 16px;
  margin: 0 8px;
  text-decoration: none;
  color: #333;
  background-color: #f0f0f0; /* Light grey background color */
  border: 1px solid #ccc;
  border-radius: 14px;
  transition: background-color 0.3s ease-in-out;
}

.books-div-link:hover {
  background-color: #ccc; /* Darker grey on hover */
}
.books-details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.book-card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.Lecdiv {
  width: 90%;
  margin: 0 auto;
}
.Lecbtn {
  display: flex;
  margin-bottom: 2%;
}

.Lecbtn > a {
  background-color: rgba(66, 133, 244, 0.1);
  color: #4285f4;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  text-decoration: none;
  font-size: small;
}

.remove-link-style {
  text-decoration: none;
  color: tomato;
}

h3 {
  color: tomato;
}

.dropdown-toggle {
  background-color: white;
}
